<nav>
     <div class="container" id="home">
        <!-- nav -->
        <nav class="py-4">
        <div id="logo">
          <img class="logo small-logo" src="../stylesheets/img/logo.png">           
            
        </div>
       

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3"><h6> Welcome, {{name}} </h6></li>
                <li class="mr-lg-4 mr-3"><a href="/dashboard"><ion-icon name="home"></ion-icon></a></li>
                <li class="mr-lg-4 mr-3"><a href="/profile"> <ion-icon name="contact"> </ion-icon></a></li>
                <li class="mr-lg-4 mr-3"><a href="/add"><ion-icon name="add"> </ion-icon></a></li>
                <li class="mr-lg-4 mr-3 "><a href="/notifications"> <ion-icon name="notifications"> </ion-icon></a>
                <li class="mr-lg-4 mr-3 "><a href="/signout"> <ion-icon name="log-out"></ion-icon></a>
                
               
            </ul>
        </nav>
    </div>

</nav>

