<div class="dashboard-bg">
    {{> dashboardnav}}


         <div class="card">
            
            <div class="container">
                <h4>Add Session</h4>
            </div>
            <br>
            <br>

        {{#each errors}}
        <div class="row">
            <div class="col span-1-of-3  ">

            </div>
            <div class="col span-1-of-3 white ">
                {{text}}
            </div>
            <div class="col span-1-of-3">

            </div>
        </div>

        {{else}} {{/each}}
        <form class="form-pad" name="{{name}}" action="/add/session" method="post">
             <div class="container">
               <div class="col span-1-of-1">
                   <input type="text" placeholder="Title" name="title" value="{{session_title}}">
               </div>
               
            </div>
            <div class="container">
               <div class="col span-1-of-1">
                  <textarea name="details" placeholder="Details"> {{details}} </textarea>
               </div>

            </div>
            <div class="container visibility">
               <div class="col span-1-of-1">
                  <input type="text" name="owner" value="{{name}}">
               </div>

            </div>
           
               
             <div class="container">
               <div class="col span-1-of-2">
                <button type="submit" class="btn">Add</button>
               </div>
               <div class="col span-1-of-2">
                     
               </div>
            </div>
        </form>





        </div>

</div>


 