 <!-- -------------------------------------------- -->
    <!-- Change of Password form -->
    <!-- -------------------------------------------- -->
<div class="dashboard-bg">
    {{> dashboardnav}}




        <div class="card">
            
            <div class="container">
                <h4>Change Password</h4>
            </div>
            <br>
            <br>

        {{#each errors}}
        <div class="row">
            <div class="col span-1-of-3  ">

            </div>
            <div class="col span-1-of-3 white ">
                {{text}}
            </div>
            <div class="col span-1-of-3">

            </div>
        </div>

        {{else}} {{/each}}
        <form class="form-pad" action="/signup" method="post">
             <div class="container">
               <div class="col span-1-of-2">
                  <input type="password" name="oldpassword" placeholder="Old Password" required>
               </div>

              
            </div>
            <div class="container">
               <div class="col span-1-of-2">
                    <input type="password" name="newpassword" placeholder="New Password" required>
               </div>
               
            </div>
           <div class="container">
               <div class="col span-1-of-2">
                    <input type="password" name="newpassword2" placeholder="Confirm New Password" required>
               </div>               
            </div>
            <br>
            
             <div class="container">
               <div class="col span-1-of-2">
                <button type="submit" class="btn">Submit</button>
               </div>
               <div class="col span-1-of-2">
                     
               </div>
            </div>
        </form>






        </div>


</div>

