<div class="dashboard-bg">
    <div class="dashboard">
        <!-- To loop through errors-->

{{#each errors}}
<div class="col span-1-of-2">
    {{text}}
</div>
{{else}} {{/each}}

{{> dashboardnav }}
 


    <div class="container">
        
            <h4 class="entry"> All Sessions</h4>
       
    </div>
    <div class="container session_body">

        {{#each sessions}}

        
            <div class="session_card">
                <div class="container">
                     <span class="session-header">
                            <b>
                                <a class="Session_title" href="/sessions/{{id}}">
                                    {{title}}
                                </a>
                            </b>
                        </span>
                    
                </div>
                <div class="container">
                    <p class="">{{details}}</p>
                </div>
                <div class="container">
                    <a href="/edit/{{id}}" class="dashboard-btn"><ion-icon name="create"></ion-icon></a>
                    <a href="/deletesession/{{id}}" class="dashboard-btn"> <ion-icon name="trash"></ion-icon></a>
                </div>
            </div>

            <!-- </div> -->

           <!-- div class="col span-4-of-4 ">
                <div class="row">
                    <div class="col span-1-of-2 ">

                        <span class="session-header">
                            <b>
                                <a href="/sessions/{{id}}">
                                    {{title}}
                                </a>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-4-of-4 Session-body">

                        <p class="">{{details}}</p>
                    </div>
                </div> -->


   <!--              <div class="row">
                    <div class="col span-1-of-2">
                        <a href="/edit/{{id}}" class="dashboard-btn"> Edit</a>
                        <form method="post" action="/sessions/{{id}}?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" class="dashboard-btn" value="Delete">
                        </form>
                    </div>
                </div>
            </div>

        </div> -->

        {{else}}
        <div class="row">
            <div class="col span-1-of-2 ">
                <p class="Session-body">You don't have any diary sessions yet.</p>

            </div>
            <div class="col span-1-of-2 ">


            </div>
        </div>

        {{/each}}
        </div>



        <div class="clear-fix">
            <div class="space"></div>
        </div>



    </div>

    <div class="clearfix"></div>
  
</div>