<div class="dashboard-bg">
    <div class="row">
        <nav>
            <div class="row nav-pad">
                <img class="logo" src="../stylesheets/img/logo.png">

                <ul class="main-nav">
                    <li class="indicator">
                        <a href="/"> Home</a>
                    </li>
                    <li class="indicator">
                        <a href="/#feautures-section"> Features</a>
                    </li>
                    <li class="indicator">
                        <a href="/#contact-section"> Contact</a>
                    </li>
                    <li class="sign-in">
                        <a href="/signin">
                            Sign in

                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>


    <div class="row error_padding">

        <div class="container add-form" id="view-changepassword-form">

            <h2 class="sign-in-header"> HEY THERE </h2>
            <p class="error_msg">{{message}}</p>


        </div>
    </div>


</div>








{{!--

<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}