<header>	
	<div class="container" id="home">
		<!-- nav -->
		<nav class="py-4">
        <div id="logo">
        	<img class="logo" src="/stylesheets/img/logo.png">
			
		</div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3"><a href="/">HOME</a></li>
                <li class="mr-lg-4 mr-3"><a href="#features">FEATURES</a></li>
                <li class="mr-lg-4 mr-3"><a href="#contact">CONTACT</a></li>
                <li class="mr-lg-4 mr-3 signin"><a href="/signin">SIGN IN</a></li>
                <li class="mr-lg-4 mr-3">
                
               
            </ul>
        </nav>
	</div>
</header>
<section class="header">
	<div class="header-layer">
		<div class="container">
			<div class="row ptripspvt_header_info">
				<div class="col-md-8 ptripslayouts_header_margin">
					<h1 class="editContent">Simple. Secure. Personal. </h1>
					<p>Keep life moments, secrets and ideas always with you.
					<br> Private Trips is here to help.</p>
					<a class="get_started" href="/signup"> Get Started </a>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feautures py-5" id="features">
	<div class="container py-3">
		<h3 class="heading">Features</h3>
		<div class="row feat-grids">
			<div class="col-lg-4 col-md-6">
				
				<div class="feat wthree">	
					<h5>WRITE <span><ion-icon name="clipboard"></ion-icon></span></h5>
					<div class="clearfix"></div>
					<p> Private Trips user friendly interface lets you organize everything
				conveniently.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
				
				<div class="feat wthree">	
					<h5>SEARCH <span><ion-icon name="search"></ion-icon></span></h5>
					<div class="clearfix"></div>
					<p>You can find your diary sessions easily, by keywords, filter them by date, tags, folders or even location.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
				
				<div class="feat wthree">	
					<h5>SECURE<span><ion-icon name="lock"></ion-icon></span></h5>
					<div class="clearfix"></div>
					<p>Your diary sessions are inaccessible by any other person.Be rest assured, your secrets are safe with us.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-3">
		<h4 class="heading contact_heading">Contact</h4>
		<div class="row contact-grids">
				<div class="col-lg-5 contact-left">
				<h5 class="mb-4">Address Info</h5>
				<div class="row">
					<div class="col-1 pr-0 icon">
						<ion-icon name="pin"></ion-icon>
					</div>
					<div class="col-11">
						
						<p> Lagos, Nigeria</p>
					</div>
					<div class="col-1 pr-0 icon my-2">
						<ion-icon name="call"></ion-icon>
					</div>
					<div class="col-11 my-2">
						<p> +234 706 809 3818</p>
					</div>
					<div class="col-1 pr-0 icon">
						<ion-icon name="mail"></ion-icon>
					</div>
					<div class="col-11">
						<p><a href="mailto:sam99kupo@gmail.com"> sam99kupo@gmail.com</a></p>
					</div>
					
				</div>
			</div>
			<div class="col-lg-7 mt-lg-0 mt-5 contact-right">
							{{#each errors}}
				<div class="row">
					<div class="col span-1-of-3  ">

					</div>
					<div class="col span-1-of-3 white ">
						{{text}}
					</div>
					<div class="col span-1-of-3">

					</div>
				</div>

				{{else}} {{/each}}
				<form action="/" method="post">
					<label>Name</label>
					<input type="text" name="name" id="name" value="{{name}}" placeholder="Your Name" required="">
					<div class="clearfix"></div>
					<label>Email</label>
					<input type="email" name="email" value="{{email}}" placeholder="Email" required="">
					<div class="clearfix"></div>
					<label>News Updates?</label>
					<input type="checkbox" name="news" id="news" checked> Yes, please
					<div class="clearfix"></div>
					<label>Message</label>
					<textarea name="message" placeholder="Your Message"> {{message}} </textarea>
					<button type="submit" class="btn">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>



</body>

</html>