<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
    <meta name="keywords" content="Private Trips, Online Diary, Diary app, Nigeria, Olamide Samuel, Goldin, Olar, Olamide, Samuel, Private, Trips, Secrets, Safe
  , Secure, Confident, Tell us your secret, Secret Keeper,">

    
  <!-- CSS  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css"> 
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> 
  <!-- //css files -->
  
  <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">

  <link href="stylesheets/img/logo.png" rel="shortcut icon" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/queriess.css">

  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>

  <title> {{title}} </title>


  <!-- Start of Async Drift Code -->
  <script>
    "use strict";

    !function () {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
          t.factory = function (e) {
            return function () {
              var n = Array.prototype.slice.call(arguments);
              return n.unshift(e), t.push(n), t;
            };
          }, t.methods.forEach(function (e) {
            t[e] = t.factory(e);
          }), t.load = function (t) {
            var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
            o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
            var i = document.getElementsByTagName("script")[0];
            i.parentNode.insertBefore(o, i);
          };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('irysmudu95xp');
  </script>
  <!-- End of Async Drift Code -->




</head>

<body>
  {{> msg}} {{{body}}}


  
</body>

<footer class="py-5">
  <div class="container">
    <div class="ptripslayoutsinfo-grids">
      <div class="ptripslayouts-grid-left ptripslayouts-grid-right text-center">
        <div class="social mb-4">
          <ul>
            <li>
          <a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=+2347068093818&text=Hi,%20My%20name%20is%20">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <p>
      Copyright &copy; {{currentYear}} by
      <a class="footer_link" target="blank" href="https://www.olamidesamuel.herokuapp.com">Olar.</a> <a class="footer_link" href="/policy"> Privacy and Policy</a>
    </p>
    </div>
  </div>
</footer>


</html>