<div class="dashboard-bg">
    {{> dashboardnav}}


    <br>
    <h4>Notifications</h4>
    <br>
        {{#each notifications}}
       <div class="session_card">
                <div class="container">
                     <span class="session-header">
                            <b>
                             <h6> <ion-icon name="notifications"> </ion-icon> {{title}}</h6>
                               
                            </b>
                        </span>
                    
                </div>
                <div class="container">
                    <p class="">{{details}}</p>
                </div>
               
            </div>

        {{else}}
            No New Notifications.
        {{/each}}
        <br>
        <br>




</div>
