
<div class="row not">
    <div class="not col span-1-of-1">
        <h5>Note</h5>
        <p style="color: red;"> This policy does not apply to the third-party websites, which you reach through links on our website.</p>
    </div>
</div>

<div class="row not">
    <div class="col not span-1-of-1">
        <h5> PRIVACY AND SECURITY OF PERSONAL INFORMATION AND PRIVATE CONTENT</h5>
        Private Trips is committed to protect your privacy, Personal Information and Private Content in that way how are mentioned
        in this policy. We are using encryption algorithm to encrypt your Private Content in synchronization data file except
        attached photos that are stored in a cloudinary account. Please remember that you play a valuable part in security
        as well. You assume all responsibility for the maintenance and recollection of your " Passwords", and Private trips
        specifically disclaims all responsibility and liability of any data loss due to lost "Passwords". Although we take
        measures to ensure the privacy and security of your Private Content, we cannot guarantee its absolute privacy and
        security, as no privacy or security measures are perfect or impenetrable. We cannot control the actions of other
        people whom you have shared any Personal Information with, and therefore we do not guarantee that unauthorized individuals
        will not obtain access to your Private Content or Personal Information. We are also not responsible for any circumvention
        of our privacy or security systems. Every time you finish using our Website you should use logout link to protect
        your Private Content from third parties.


    </div>
</div>

<div class="row not">
    <div class="col not span-1-of-1">
        <h5> USE OF PERSONAL INFORMATION AND PRIVATE CONTENT</h5>

        Private Trips collects and uses your Personal Information to provide to you and communicate with you about the Service, content,
        or products you use or request. It also can be used to customize the content or advertisements you receive when you
        use our Website, analyze and improve our Service, which may include tracking traffic, usage, and navigation patterns
        related to your activities on our website and the links we provide to third party sites or advertisements. To stop
        receiving any communications from our Service, you can use the unsubscribe link directly from our email or send us
        an e-mail with subject "Unsubscribe". Service does not automatically share any personal information you provide with
        any third party company, application or service without your permission. We do not sell or rent any Personal Information
        to third parties without your explicit consent. Unless you specifically authorize us to release such information,
        or release is required or permitted by law, we will not exchange, sell, lease, trade or otherwise give away such
        information to other third parties. If we propose to use your Personal Information for any other purpose than those
        described in this Privacy Policy, we will obtain your consent first and offer you the option of opting out of such
        use of your Personal Information. Our Service provides the ability to share your Private Content. If you share any
        such content you agree that third party can see or use this content. We will not make any Private Content available
        to any third party except to a third party authorized by you to access such information.



    </div>
</div>



<div class="row not">
    <div class="col not span-1-of-1">
        <h5> NOTICE</h5>

        It may be necessary from time to time for us to modify this policy to reflect changes in the way we collect and use information
        or changes in privacy-related laws, regulations, and industry standards. Accordingly, we reserve the right to change
        this policy at any time by posting the revised policy on this Website. Your continued use of the service after any
        such changes constitutes your acceptance of the revised Privacy Policy. If you do not agree with a revised Privacy
        Policy or any future revisions, do not use or access (or continue to use or access) the Service. It is your responsibility
        to regularly check the Site to determine if there have been changes made and to review such changes.
    </div>
</div>



