<div class="dashboard-bg">
    {{> dashboardnav }}


 <div class="card">
            
            <div class="container">
                <h4>Profile</h4>
            </div>
            <br>
            
    
        
             <div class="container">
               <div class="col span-1-of-2">
                   <p>Firstname :</p>
               </div>
                  <div class="col span-1-of-2">
                   <p>{{firstname}}</p>
               </div>
               
            </div>
             <div class="container">
               <div class="col span-1-of-2">
                   <p>Lastname :</p>
               </div>
                  <div class="col span-1-of-2">
                   <p>{{lastname}}</p>
               </div>
               
            </div>
             <div class="container">
               <div class="col span-1-of-2">
                   <p>Email :</p>
               </div>
                  <div class="col span-1-of-2">
                   <p>{{email}}</p>
               </div>
               
            </div>
             <div class="container">
               <div class="col span-1-of-2">
                   <p>Username :</p>
               </div>
                  <div class="col span-1-of-2">
                   <p>{{username}}</p>
               </div>
               
            </div> <div class="container">
               <div class="col span-1-of-2">
                   <p>Date Registered :</p>
               </div>
                  <div class="col span-1-of-2">
                   <p>{{date}}</p>
               </div>
               
            </div>
        </div>

</div>