<div class="signin-page">
        <div class="container" id="home">
        <!-- nav -->
        <nav class="py-4">
        <div id="logo">
            <img class="logo" src="/stylesheets/img/logo.png">
            
        </div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3"><a href="/">HOME</a></li>
                <li class="mr-lg-4 mr-3"><a href="/#features">FEATURES</a></li>
                <li class="mr-lg-4 mr-3"><a href="/#contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>


    
        <div class="card">
            
            <div class="container">
                <h4>Sign In</h4>
            </div>
            <br>
            <br>

        {{#each errors}}
        <div class="row">
            <div class="col span-1-of-3  ">

            </div>
            <div class="col span-1-of-3 white ">
                {{text}}
            </div>
            <div class="col span-1-of-3">

            </div>
        </div>

        {{else}} {{/each}}
        <form class="form-pad" action="/user/signin" method="post">
             <div class="container">
               <div class="col span-1-of-1">
                    <input type="text" placeholder="Username" name="username" value="{{username}}" required>
               </div>
               
            </div>
            <div class="container">
               <div class="col span-1-of-1">
                    <input type="password" placeholder="Password" name="password" value="{{password}}" required>
               </div>

            </div>
            <div class="container">
                <p class="smaller-text"> Don't have an account??</p>
                <p class="smaller-text"> <a class="link-link" href="/signup"> Sign Up here</a></p>

            </div>
               
             <div class="container">
               <div class="col span-1-of-2">
                <button type="submit" class="btn">Submit</button>
               </div>
               <div class="col span-1-of-2">
                     
               </div>
            </div>
        </form>






        </div>



</div>

