<div class="signin-page">
        <div class="container" id="home">
        <!-- nav -->
        <nav class="py-4">
        <div id="logo">
            <img class="logo" src="stylesheets/img/logo.png">
            
        </div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="mr-lg-4 mr-3"><a href="/">HOME</a></li>
                <li class="mr-lg-4 mr-3"><a href="/#features">FEATURES</a></li>
                <li class="mr-lg-4 mr-3"><a href="/#contact">CONTACT</a></li>
                <li class="mr-lg-4 mr-3 signin"><a href="/signin">SIGN IN</a></li>
                <li class="mr-lg-4 mr-3">
                
               
            </ul>
        </nav>
    </div>

    
        <div class="card">
            
            <div class="container">
                <h4>Sign Up</h4>
            </div>
            <br>
            <br>

        {{#each errors}}
        <div class="row">
            <div class="col span-1-of-3  ">

            </div>
            <div class="col span-1-of-3 white ">
                {{text}}
            </div>
            <div class="col span-1-of-3">

            </div>
        </div>

        {{else}} {{/each}}
        <form class="form-pad" action="/signup" method="post">
             <div class="container">
               <div class="col span-1-of-2">
                   <input type="text" placeholder="First Name" name="firstname" value="{{firstname}}" required>
               </div>
               <div class="col span-1-of-2">
                   <input type="text" placeholder="Last Name" name="lastname" value="{{lastname}}" required>
               </div>
            </div>
            <div class="container">
               <div class="col span-1-of-2">
                  <input type="email" placeholder="Email" name="email" value="{{email}}" required>
               </div>
               <div class="col span-1-of-2">
                    <input type="text" placeholder="Username" name="username" value="{{username}}" required>
               </div>
            </div>
             <div class="container">
               <div class="col span-1-of-2">
                 <input type="password" placeholder="Password" name="password" value="{{password}}" required>
               </div>
               <div class="col span-1-of-2">
                     <input type="password" placeholder="Confirm Password" name="password2" value="{{password2}}" required>
               </div>
            </div>
             <div class="container">
               <div class="col span-1-of-2">
                <button type="submit" class="btn">Submit</button>
               </div>
               <div class="col span-1-of-2">
                     
               </div>
            </div>
        </form>






        </div>



</div>
