/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {



	nav {
		margin: 0;
	}
	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		padding:10px 20px;	
		font-size:17px;
		text-decoration:none;
		border:none;
		float: right;
		background-color: #fff;
		color: black;
	}
	.menu .toggle {
		float: none;
		text-align: center;
		margin: auto;
		width: 25%;
		padding: 5px;
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 1px;
	}

	.toggle:hover {
		background-color: black;
        color: white;
        transition: 0.2s;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		text-align: center;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 5px 0;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: transparent;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #fff;
        color: black;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}
}




/*-- Responsive Design --*/

@media(max-width:1080px) {
	.header-layer,.header {
		min-height: 658px;
	}
	.ptripslayouts_header_margin {
		padding: 14em 0em 0em;
	}
	.ptripspvt_header_info h2 {
		font-size: 58px;
		letter-spacing: 2px;
	}
	.feautures-grids h4 {
		font-size: 22px;
	}
	.blog-grid1 h4 {
		font-size: 19px;
	}
	.contact label {
		width: 19%;
	}
	.contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea {
		width: 81%;
	}
}
@media(max-width: 991px) {
	.navbar-light .navbar-toggler {
		border-color: #fff;
	}
	.navbar-toggler {
		border-radius: 0;
		background: #fff;
	}
	.ptripspvt_header_info h2 {
		font-size: 50px;
		letter-spacing: 1px;
	}		
	.ptripslayouts_header_margin {
		padding: 12em 0em 0em;
	}
	ul.navbar-nav.ml-lg-auto.text-center {
		padding: 1em;
		background: rgba(0, 0, 0, 0.7);
	}
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
		max-width: 500px;
		margin: 0 auto;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link,.navbar-light .navbar-nav .nav-link{
		max-width: 500px;
		margin: 0 auto;
	}
	.dropdown-menu {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link {
		color: #fff;
		padding-left: 0em;
		text-align: center;
	}
	.dropdown-menu li.nav-item {
		margin: 0 auto;
	}
	.dropdown-divider {
		height: 0;
		margin: 0rem 0;
		overflow: hidden;
		border-top: 0;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link:hover {
		color: #fff;
		border: none;
		border-bottom: 2px solid #fff;
	}
	.ptripspvt_header_info p {
		font-size: 14px;
	}
	.ptripspvt_header_info h4 {
		font-size: 20px;
	}
	.image_margin {
		margin-top: 12em;
		padding: 0;
	}
	.header-layer, .header {
		min-height: 590px;
	}
	.exp {
		padding-right: 2em;
	}
	.exp1 {
		padding-left: 2em;
	}
	.feautures-grids,.service-grids,.exp-grids,.blog-grids,.project-grids,.clients,.contact-grids {
		margin-top: 3em;
	}
	.text p {
		width: 95%;
	}
}
@media(max-width:768px) {
	.ptripslayouts_header_margin {
		padding: 10em 0em 0em;
         margin-top: 23%;
	}
	.image_margin {
		margin-top: 10em;
	}
	h4.left-grid-blog {
		font-size: 24px;
		letter-spacing: 1px;
	}
	.test-review h5 {
		letter-spacing: 1px;
		font-size: 20px;
	}
	.test-review p {
		font-size: 14px;
		letter-spacing: .5px;
	}
	.contact-grids h4 {
		font-size: 22px;
		letter-spacing: 0px;
	}
	.contact-left h5 {
		font-size: 18px;
	}
	nav ul ul li a {
		font-size: 15px;
		background: none;
	}
	nav ul li ul li:hover {
		background: none;
	}
	nav a {
		color: #333;
	}
}
@media(max-width: 736px) {
	.image_margin {
		width:60%;
		margin: 0 auto;
		margin-top: 2em;
	}
	.exp,.exp1{
		padding-right: 0;
		padding: 1em;
	}
	.exp-grids h4, .exp-grid1 h4 {
		margin-top: 0px;
	}
	.test-image {
		width: 60%;
		padding: 0 50px;
		float: none;
	}
	.test-review {
		width: 100%;
		float: none;
	}
	h3.heading {
		font-size: 35px;
		letter-spacing: 3px;
	}

}
@media(max-width:640px) {
	.ptripspvt_header_info h2 {
		font-size: 45px;
		letter-spacing: 1px;
	}
	.ptripspvt_header_info a {
		padding: 10px 30px;
		font-size: 14px;
	}

}
@media(max-width:568px) {
	.ptripslayouts_header_margin {
		padding: 10em 2em 0em;

	}
	.ptrips-icon-grid1 p {
		margin: 1.5em 0 1em;
	}
	.dropdown-menu li.nav-item {
		width: 100%;
	}
	.ptripspvt_header_info h2 {
		font-size: 45px;
		letter-spacing: 1px;
	}
	h5.ptripspvt-title {
		font-size: 22px;
	}
}
@media(max-width: 480px) {
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
		width: 40%;
		margin: 0 auto;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link,.navbar-light .navbar-nav .nav-link{
		width: 40%;
		margin: 0 auto;
	}
	.ptripspvt_header_info h5 {
		font-size: 20px;
	}
	.menu .toggle {
		width: 32%;
		font-size: 15px;
	}
}
@media(max-width: 414px) {
	.ptripspvt_header_info h2 {
		font-size: 42px;
		letter-spacing: 0px;
	}
	.ptripspvt_header_info h4 {
		font-size: 17px;
	}
	h3.heading {
		font-size: 35px;
	}
	.contact label {
		width: 100%;
		float:none;
	}
	.contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea {
		width: 100%;
	}
	header h1 {
		font-size: 2.2rem;
	}
	.ptripslayouts_header_margin {
		padding: 8em 2em 0em;
	}
	.header-layer, .header {
		min-height: 550px;
	}
}
@media(max-width:384px) {
	.ptripspvt_header_info h2 {
		font-size: 35px;
	}
	.test-review p {
		padding-left: 25px;
	}
	.ptripslayouts_header_margin {
		padding: 8em 1em 0em;
	}
	.ptrips-icon-grid1 h3 {
		letter-spacing: 0px;
	}
	.ptrips-icon-grid1 h3 i {
		font-size: 40px;
	}
	.social ul li a i {
		height: 37px;
		width: 37px;
		font-size: 11px;
		line-height: 37px;
	}
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
		width: 45%;
		margin: 0 auto;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link,.navbar-light .navbar-nav .nav-link{
		width: 45%;
		margin: 0 auto;
	}
	.feautures-grids a {
		padding: 11px 30px;
		font-size: 14px;
	}
	.image_margin {
		width: 70%;
	}
	.ptripspvt_header_info h5 {
		font-size: 18px;
	}
	.menu .toggle {
		width: 36%;
	}
	.ptripspvt_header_info a {
		padding: 10px 27px;
	}
	#logo a {
		font-size: .7em;
	}
	.toggle {
    padding: 7px 15px;
    font-size: 16px;
	}
}
