/*------------------
//General styling
*/
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
html, body{
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
section{
	padding: 80px 0;
}

/*--------------*/
h1{
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size:220%;
    word-spacing: 3px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: bolder;
}
h2{
	font-size: 180%;
	word-spacing:2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
h2:after{
	display: block;
	height: 2px;
	background-color: black;
	width:100px;
	content:" ";
	margin: 0 auto;
	margin-top: 30px;
	font-weight: bolder;
}

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}
.logo{
    height:100px;
    width: auto;
    float:left;
    margin:20px;
    margin-left: 10px;
    opacity: 0.8;
}

.toggle,
[id^=drop] {
	display: none;
}


nav { 
	margin:0;
	padding: 0;
}


#logo a {
	float: left;
    font-size: .8em;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}
#logo a span {
    color: #30c39e;
}

/*-----------------------------------*/
/*----FEAUTURES SECTION------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.feautures{
	padding:2%;
	padding-bottom: 5%;
}
.feat p{
	font-size: 90%;
	line-height: 145%;
}
.feat-icon{
	height:60px;
	width: auto;
	padding-left: 43%;
	padding-bottom: 5px;	
}
nav:after {
	content:"";
	display:table;
	clear:both;
}
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}
nav a {
	text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
	padding: 10px 0;
}
nav a:hover { 
	text-decoration: none;
	border-top: 2px solid #fff;    
    border-bottom:2px solid #fff;   
    transition: 0.2s;
    color: white;
}
nav ul ul {
    background-color: black;
    width: 300px;
    padding: 10px;
    position: relative;
}
.white{
	color: white;
	font-size: 12px;
}




/*-- popup --*/

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
	padding: 3em 1em;
}
.popup p{
	font-size: 15px;
	color: #666;
	letter-spacing: .5px;
	line-height: 30px;
}
.popup .close {
    position: absolute;
    top: 25px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup h2 {
  margin-top: 0;
  color: #fff;

}
.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.popup .close:hover {
  color: #30c39e;
}

/*-- //popup --*/

/*-- header --*/
.header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/header2.jpeg);
	background-size:cover;
    min-height: 770px;

}
.header-layer {
    background: url(../images/layer.png)repeat;
}
.ptripslayouts_header_margin {
    padding: 10em 0em 0em;
}
.image_margin {
    margin-top: 8em;
}
.ptripspvt_header_info p{
    color: #fff;
    margin: 1em 0;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 16px;

}
.get_started {
	text-decoration: none;
    padding: 11px 35px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1.5em;
    border-radius: 4px;
    
}
.get_started:hover {
    text-decoration: none;
    border: 2px solid black;
    color: black;
}



h3.heading {
    font-size: 45px;
    text-align: center;
    color: #333;
    font-weight: 600;
    letter-spacing: 5px;
	position: relative;
}
h3.heading:after {
    position: absolute;
    content: '';
    width: 10%;
    height: 3px;
    background: #333;
    left: 45%;
    bottom: -18%;
}
h4{
	font-size: 45px;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
	position: relative;
}
h4:after{
	 position: absolute;
    content: '';
    width: 10%;
    height: 3px;
    background: #333;
    left: 45%;
    bottom: -18%;
}
.feautures-grids {
    margin-top: 5em;
}
/*-- feautures --*/
.feat-grids {
    margin-top: 5em;
}
.feat-grids h4,.feat-grid1 h4 {
    text-transform: capitalize;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.feat-grids span {
    font-size: 17px;
    background-color: #333;;
    color: #fff;
    padding: 5px 10px;
    float: right;
}

.feat-grid1 h5  {
    font-size: 16px;
    color: #666;
    font-weight: 600;
}
.feat-grids p {
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 16px;
    color: #666;
}
.feat {
    background: #f8f9fa;
	padding: 2em;
}
.feat-grid1 p {
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 15px;
    color: #666;
    border-right: 3px solid #333;
    padding-right: 3em;
    text-align: right;
}
.feat1 {
    padding-left: 3em;
     background: #222;
}
/*-- //feautures --*/



/*--  contact --*/
.contact-grids {
    margin-top: 5em;
}
.contact-grids h4 {
    text-transform: capitalize;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.icon span {
    color: #30c39e;
}
.contact{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/contact-bg.jpg);
	color: white;	
}
.contact-left{
	color:white;

}
.contact-left p,.contact-left p a {
    margin: 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 18px;
    color:white;
}

.contact-left p a:hover {
    color: #000;
}
input[type="text"],  input[type="email"],input[type="password"],  textarea {
    outline: none;
    width: 70%;
    padding: .9em 1.3em;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    border: none;
    border: 1px solid #ccc;
    background: none;
    margin-bottom: 1.5em;
	border-radius: 5px;
}
 button[type="submit"] {
    padding: 11px 35px;
    color: black;
    background: #ffffffd1;
	border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 4px;
     margin-left:  15%;
	 cursor: pointer;
}
button[type="submit"]:hover {
    color: white;
    background: black;
	border: 2px solid white;
}
.contact label {
    width: 12%;
    float: left;
    color: white;
    font-weight: 400;
}
.contact label span {
    color: #30c39e;
}
.contact-right textarea {
    min-height: 120px;
    resize: none;
}
.contact_heading{
	color: white;
}

/*-- footer --*/
footer {
    background: #191919;
}
.social ul li {
    display: inline-block;
    margin-left: 2%;
}
.social ul li a {
    color: #999;
    text-align: center;
}
.footer_link{
	color: inherit;
	text-decoration: none;
}
.footer_link:hover{
	color: white;
	text-decoration: none;
}
/*Signup*/
.signin-page{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)),url(img/signin-bg.jpeg);
	min-height: 770px;
}
.card{
	background-color: #06060675;
	width: 70%;
	padding: 5%;
	text-align: center;
	margin-top: -15%;
	margin: auto;

}
.smaller-text{
	color: white;
	font-size: 70%;
}
.link-link{
	text-decoration: none;
	color: inherit;
}
.link-link:hover{
	color: #eee;
	text-decoration: none;
}
/*----------------------------------------*/
/*---------------------------------------*/
/* DASHBOARD SECTION*/
/*----------------------------------------*/
/*----------------------------------------*/
.dashboard-bg{
	background-color: black;
	color: white
}
.white_col{
	color: white;
}

}
.notifications{
	color: white;
	padding: 3%;
	border: 1px solid black;
	margin: 0px 5px 2px 5px;
}
.not{
	padding: 3%;
}
.small-logo{
	height:50px;
	width: auto;
	margin:7px;
	margin-left: 20px;
	opacity: 0.8;
}
.dashboard-nav{
	background-color: rgba(65, 64, 64, 0.507);
	padding-bottom: -4%;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-radius: 0px 0px 30px 30px;
}
.dashboard-icon{
	height:35px;
	width: auto;	
}

.dashboard_icon{
	color:white;
}
.dashboard_icon:hover{
	color: black;
	transition: color, 0.2s;
}
.dashboard-navi li a{
	padding: 5px;
}
.dashboard-navi li{
	border-radius: 22px;
	display: inline-block;
	
}
.dashboard-navi{
	margin-top: 20px;
	margin: auto;
	display: inline-block;
	
}
.session_card{
	border: 1px solid white;
	width: 60%;
	margin: auto;
	margin-top: 1%;
	box-shadow: 1px 1px 1px grey;

	
}
.dashboard-btn{
	color:white;
	text-decoration: none;
	padding: 5px 10px;
    color: black;
    background: #ffffffd1;
	border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 4px;
     margin-left:  2%;
	 cursor: pointer;
	 margin-bottom: 1%;
}
.dashboard-btn:hover{
	text-decoration: none;
}
.session_body{
	padding-top: 3%;
	padding-bottom: 3%;
}
.Session_title{
	text-decoration: none;
	text-transform: uppercase;
}
.Session_title:hover{
	text-decoration: none;
	
}
.visibility{
	display: none;
}

